body{
    margin-left: 20px;
}

.chat{
    background-color:aliceblue;
    padding: 20px;
    border-radius: 16px;
    display: inline-block;
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 16px;
}

.edit{
    border-radius: 10px;
    font-weight: 900;
}
.del{
       border-radius: 10px;
    font-weight: 900;
    font-style: italic;
    margin-top: 10px;

}